<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stanza" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Stanza"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.stanza.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.example.stanza.NotesProvider"
            android:authorities="com.example.stanza.notesprovider"
            android:exported="false" />

        <activity
            android:name=".EditPoemActivity"
            android:label="@string/poetry_editor"
            android:parentActivityName="com.example.stanza.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.stanza.MainActivity" />
        </activity>

        <activity
            android:name="com.example.stanza.FriendBoardActivity"
            android:label="@string/friend_board"
            android:parentActivityName="com.example.stanza.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.stanza.MainActivity" />
        </activity>

        <activity
            android:name="com.example.stanza.ViewPoemActivity"
            android:label="@string/view_friends_poem"
            android:parentActivityName="com.example.stanza.FriendBoardActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.stanza.FriendBoardActivity" />
        </activity>

    </application>

</manifest>
